  <%-include("header")-%>
    <!-- <h1> welcome to our library</h1> -->

  <div class="row">

    <!-- <div class="col-6">
      <h1>welcome to our library </h1>
    </div> -->
    <div id="banner">
      <!-- <img src="6 SCENE.svg" alt=""> -->
      <h1 class="headings">welcome to our Store!  </h1>
      <br>
      <h1 class="headings"> Look at our new collections</h1>
      <h1 class="headings">Now!</h1>
  </div>
  </div>

    <h1 class="headings">New in our store</h1>
  <div class="row container">
  <img src="there.jpg" alt="" class="carousel-img col-3">
  <img src="the dress.jpg" alt="" class="carousel-img col-3">
  <img src="theway.jpg" alt="" class="carousel-img col-3">
  <img src="place.jpg" alt="" class="carousel-img col-3">

 </div>
 <br>
 <h1  class="headings">New in our store</h1>
 <div class="row container ">
 <img src="there.jpg" alt="" class="carousel-img col-3">
 <img src="the dress.jpg" alt="" class="carousel-img col-3">
 <img src="theway.jpg" alt="" class="carousel-img col-3">
 <img src="place.jpg" alt="" class="carousel-img col-3">

</div>
<br>

   <%-include("footer")-%>
